.NasaCard {
    width: 90vw;
    margin: 1rem 5vw;
    background: radial-gradient(rgb(81, 18, 105),rgb(23, 136, 136), rgb(114, 31, 107) );
}
.title {
    color: lavenderblush;
    background: linear-gradient(45deg, rgb(81, 18, 105),rgb(23, 136, 136));
    
}
.name-style {
    color: thistle;
}
.daily-img {
    max-width: 100vw;
    max-height: 60vh;
    border: 1rem double #4f4f4f;
    border-radius: 25%;
    background-color: thistle;
}
.description {
    background: lavender;
    border: .3rem dashed thistle;
    border-radius: 2%;
    
}